/*#########*/
/* Error */
/*#########*/
.error-page {
    min-height: calc(100vh - (6rem + 4rem));
    text-align: center;
    padding-top: 3rem;
    color: #fff;
   & h1 {
    font-size: 9rem;
    font-family: "Inconsolata";
    margin: 0rem auto;
  }

  & h3 {
    font-size: 3rem;
    margin: 1rem auto;
  }

  & p {
    font-size: 2rem;
    font-family: "Times New Roman";
    margin: 1rem auto;
  }
}