/*#########*/
/* Error */
/*#########*/
.error-page {
    min-height: calc(100vh - (6rem + 4rem));
    text-align: center;
    padding-top: 3rem;
    color: #fff;
   & h1 {
    font-size: 9rem;
    font-family: "Inconsolata";
  }
}