.posts {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.posts-title {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

// .category {
//   background: #0e2f44 !important;
//   color: #fff68f !important;
// }

.gif {
  width: 50%;
}

.post-title {
  font-size: 3rem;
  color: white;
}

.post-content {
  color: white;
  padding: 1rem 2rem;
  background: #545C52;
  border-radius: 1%;
  margin: 2rem auto;

  & h1 {
    font-size: 2rem;
    color: #41EAD4;
  }

  // & img {
  //   width: 50%;
  //   margin: 1rem auto;
  // }

  & p {
    color: white;
    margin: 2rem 0;
    letter-spacing: 0.5px;
  }

  & a {
    color: #CAE4F1;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: #E2F9B8;
    }
  }

  & strong {
    color: #FFD791;
  }

  & em {
    font-weight: 700;
    font-style: normal;
    color: #FFFF00;
  }

  & del {
    font-weight: 800;
    text-decoration: none;
    color: #eb60e6;
  }
}

.question {
  margin: 1rem auto;
  text-align: center;
  border: 2px dotted #28ea2f;
  padding: 0 1rem;
}


.nice-text {
  background: grey;
  padding: 2rem 1.5rem;
  border-radius: 2px;
  border-left: 3px solid magenta;
  color: white;
  position: relative;

  & h3 {
    font-size: 1.5rem;
    color: yellow;
  }
}

.nice-text h4,
.nice-text p {
  color: white;
}

.nice-text p {
  margin-bottom: 0;
}

.nice-text-icon {
  position: absolute;
  top: 0;
  left: -3px;
  background: black;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid black;
  color: white;
}

.mdx-page {
  width: 85vw;
  max-width: 1100px;
  margin: 4rem auto;
}

.mdx-img p {
  width: 20rem;
}


ol,
ul {
  margin-left: 2rem;
}


li {
  & p:not(:first-child) {
    // first p is the actual li
    padding: 0.5rem 0.5rem;
    border-radius: 2%;
  }
}

.ci {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: #BBE1C3;
  }

  & img {
    margin: 1rem 0.5rem;
    width: 50%;
  }

  & iframe {
    width: 600px;
    height: 400px;

  }
}

.bigger_text {
  font-size: 3rem;
}

hr {
  color: black;
  margin: 2rem auto;
  border-width: 2px;
}

.comment-body p {
  color: white;
}

.left p {
  color: white;
}

// light blue
.lb {
  color: #41EAD4;
}

// light green
.lg {
  color: #4aea41;
}

.lp {
  color: #f232e2
}

.lo {
  color: #f2c617
}

.lr {
  color: #f86c6c;
}

.center_text {
  text-align: center;
}

@media screen and (max-width: 479px) {

  .gif,
  .ci {
    & img {
      width: 90%;
    }

    & iframe {
      width: 200px;
      height: 300px;

    }
  }

  .gif {
    height: 80%;
  }
}

@media screen and (min-width: 992px) {
  .posts {
    width: 92vw;
  }

  .nice-text {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media screen and (min-width: 1170px) {
  .posts-center {
    display: grid;
    grid-template-columns: 1fr 450px;
    column-gap: 2.5rem;
  }
}