.home-page {
  display: grid;
  gap: 2rem 4rem; // the gap between the elemnts, rowgap colgap


  & h2 {
    text-transform: none;
    font-weight: bold;
    color: white;
    font-size: 2.441rem;
  }

  & p {
    color: white;
    margin: 0.25rem;
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
  }

  & .btn {
    margin-bottom: 2rem;
  }

}

.extra-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
  row-gap: 1rem;

  transition: all 0.2s ease-in;
  padding: 1rem 1rem;
  border-radius: 30px;
  background-color: #222222;

  &:hover {
    background-color: #111001;
  }
}

.resume-text {
  color: black;
  font-size: 2rem;
}

.extra-links-item {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-linkedin-square {
  color: white;
}

.website-description {
  transition: all 0.4s ease-out;
  padding: 1rem 1rem;
  background-color: #111111;

  &:hover {
    background-color: #010101;
  }

  & p {
    margin-bottom: 1.5rem;
  }
}

.home-img {
  border-radius: $borderRadius;
  height: 0;
}

.resume-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;

  &:hover {
    & h5 {
      color: #01e8a4;
    }

  }
}

.better-pictures {
  text-align: center;
  font-size: 1rem;
  display: none;
}

@media screen and (min-width: 1130px) {
  .home-page {
    grid-template-columns: 1fr 1fr; // fr stands for free space, basically divides the space while taking into account row/column gaps
    align-items: start;

  }

  .better-pictures {
    display: block;
  }

  .home-img {
    height: 100%;
    max-height: 500px;
  }
}

// this is the animation for the github + resume link buttons
.btn-text {
  padding: 0.5rem 1.5rem;
  transition: background-color 1s; // this again adds the animation to the button, without it it will instantly change to hover state from base state
  border-radius: 50px;
  background-color: $color-primary;
  margin: auto 1rem;

  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none; // no underline
    border-bottom: 1px solid $color-primary;
    font-size: 40px;
    padding: 3px;
  }

  &:hover {
    background-color: #04321B;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-10px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(0px);
  }
}