.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.nav-center {
  width: 90vw; // 90% of screen width at MOST
  max-width: $max-width; // cap this width as well $max-width: 1120px;
}

@keyframes hinge {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scaleX(0.75) scaleY(0.75);
    background: #C2F9BB;
    color: #20063B;
  }

  // 40% {transform: scaleX(0.9) scaleY(0.9);
  //   background: $grey-200;
  //   color: $grey-1100;
  // }
  60% {
    transform: scaleX(1.15) scaleY(1.15);
    background: #2B50AA;
    color: #FF858D;
  }

  100% {
    transform: scale(1);
    background: $grey-900;
    color: $grey-300;
  }
}


.my-name {
  padding: 0.5rem 1rem;
  font-size: 3rem;
  animation-duration: 2.5s;
  z-index: 1;
  animation-play-state: paused;
  border-radius: 30%;

  &:hover {
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: hinge;
    animation-play-state: running;
  }
}

.nav-header {
  height: $nav_height; // 6rem
  display: flex;
  justify-content: space-between;
  align-items: center;


  & a {
    width: 300px;
    margin-left: -6px;
    margin-bottom: -9px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.05, 1.2);
    }

    &:active {
      transform: translateY(10px);
    }
  }

}


.nav-btn svg {
  font-size: 3.5rem;

  // align The SVG vertically in the div
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

// nav-links div containts all the links
.nav-links {
  margin-top: 1rem;

  // these two hides all the links unless show-links is active
  height: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  transition: $transition;
}

.show-links {
  height: 23rem;
}

.nav-link {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: $white;
  font-size: 1.5rem;
  letter-spacing: $letterSpacing;
  padding: 1rem 0;
  border-top: 1px solid $grey-500;
  text-decoration: none;

  & p {
    transition: all 0.05s ease-out;

    &:active {
      transform: translateY(10px);
    }
  }

}

.active-link {
  color: $active-link-color;
  text-decoration: underline;
}

.blog-link {
  display: flex;
  justify-content: center;
  border-top: 1px solid $grey-500;
  align-items: center;
  padding-top: 1rem;
}



// "desktop mode" 
@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }

  .nav-center {
    display: flex;
    align-items: center;
  }

  .nav-header {
    padding: 0;
    margin-right: 3rem;
    height: auto; // height depends on the height of The content (child elements)
  }

  .nav-btn {
    display: none; // hide nav button!
  }

  .nav-links {
    height: auto !important; // change this from height 0 so we can see the links
    flex-direction: row;
    align-items: center;
    width: 100%; // links div should take up the remaning width of nav-center, that isnt use by nav-header
  }

  .nav-link {
    padding: 0.25rem 0.25rem;
    border-radius: 10%;
    border-top: none; // no border line like in mobile
    margin-right: 2rem;
    margin-left: 0.2rem;
    font-size: 1.3rem;
    width: auto;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: yellow;
      background: #23B5D3;
      transform: scale(1.1, 1.2);
    }
  }

  .blog-link {
    width: 100%;
    height: auto;
    justify-content: flex-end; // put this at the end
    align-items: center;
    margin-right: 0;
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}

// if smaller than 350px wide (iphone5, etc.)
@media screen and (max-width: 390px) {

  .nav-header p {
    font-size: 2.5rem;
  }

  .nav-link,
  .blog-link {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 290px) {
  .nav-header p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1150px) {

  .nav-link,
  .blog-link {
    font-size: 1.45rem;
  }
}