/* link = not yet visited pseudoclass */
.btn-start:link,
.btn-start:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* need this */
  border-radius: 10rem;
  /* round btn */
  transition: all 0.5s;
  /* control the btn hover transform here */
  position: relative;
  font-size: 3rem;
}

.btn-start:hover {
  transform: translateY(-5px);
  /* moves up */
  box-shadow: 0 10px 20px rgba($color-black, 0.2);
  /* x y blur color*/
}

.btn-start:active {
  transform: translateY(-1px);
  /* in relation to original position*/
  box-shadow: 0 5px 10px rgba($color-black, 0.2);
  /* x y blur size, color*/
}

.btn-white {
  background-color: $color-white;
  color: $color-grey-dark;
}

/* this pseudo element 'after' puts something specific after another thing */
/* in this example we make something of the same height and put it under the original button  */
/* then on hover we transition it separate from the button transition*/
.btn-start::after {
  content: "";
  display: inline-block;
  height: 100%;
  /* relative to parent */
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  /* this refers to the btn hover property */
}

.btn-white::after {
  background-color: $color-white;
}

/* this affects the hover on the after element of btn, which is behind the original btn*/
.btn-start:hover::after {
  /* make animation once hover */
  transform: scale(1.5);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* .75s delay */
  animation-fill-mode: backwards;
  /* automatically apply 0% animation styles before animation starts */
}

// GENERAL BUTTON STYLES

.btn {
  cursor: pointer;
  appearance: none;
  color: white;
  background: #015496;
  border: none;
  border-radius: $borderRadius;
  letter-spacing: $letterSpacing;

  padding: 0.5rem 1rem;
  text-decoration: none;

  box-shadow: $shadow-1;
  transition: $transition;
  text-transform: capitalize;

  &:hover {
    color: black;
    background: #add8e6;
    box-shadow: $shadow-2;
  }
}